
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kulup sayfasına hoşgeldiniz</h2>

<form method="post" class="form-group">
      <div>
          <label>Kulüp Adı</label>
<input type="text" class="form-control" name="KULUPAD" />
      </div>
      <div style="=" margin-top:"10px">
          <button class="btn btn-info">Kulüp Kayıt</button>
</div>
    </form>
    

